<h1>Users in Database</h1>
<table class="table">
    <thead>
        <tr>
            <td>First</td>
            <td>Last</td>
            <td>Birthdate</td>
            <td>Show</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="f in friends track by $index">
            <td>{{f.first_name}}</td>
            <td>{{f.last_name}}</td>
            <td>{{f.birthdate}}</td>
            <td><a href="#/show/{{f._id}}">Show</a></td>
            <td><a href="#/friends/edit/{{f._id}}">Edit</a></td>
            <td><a href="#/delete/{{f._id}}">Delete</a></td>
        </tr>
    </tbody>
</table>
<a href="#/new">New Friend</a>
