<div class="row">
    <div class="col-md-5">
        <iframe height="500" scrolling="no" frameborder="0" src="https://www.reverbnation.com/widget_code/html_widget/artist_5601002?widget_id=55&pwc[included_songs]=1&context_type=page_object&spoid=artist_5601002" style="width:100%;min-width:100%;max-width:100%;"></iframe>
    </div>
    <div class="col-md-7">
        <h3>Western Grit Music</h3>
        <p class="bio">Natalie and Fernando are a part of a duo band named Western Grit based out of Southern California.</p>
        <p class="bio">
            Fernando has an eclectic background spending a number of years playing multiple instruments for his church and bands internationally in Mexico and in the United States. His musical influences include artists like Mana and Jimmy Hendrix.
            He loves to incorporate music that promotes positive vibes and a relaxing atmosphere.
        </p>
        <p class="bio">
            Natalie is a true Alternative Blues singer. She has performed across the globe from places like Dublin-Ireland, Barcelona-Spain, Annecy-France, and Guadalajara-Mexico. Her influences include artists such as Ella Fitzgerald and Erykah Badu. She enjoys reinventing songs in a minimalistic nature to give their band Western Grit a unique and very attractive appeal.
        </p>
    </div>
</div>