 <div class="row">
    <div class="col-md-12">
        <div class="innerContent thumbnail">
            <h3>How Come</h3>
            <iframe width="400" height="315" src="https://www.youtube.com/embed/YQgxhMUygz0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="innerContent thumbnail">
            <h3>California Love</h3>
            <iframe width="400" height="315" src="https://www.youtube.com/embed/YY1eL564Abg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="innerContent1 thumbnail">
            <h3>Hotline-Bling</h3>
            <iframe width="400" height="315" src="https://www.youtube.com/embed/q-7TzmfFnNw" frameborder="1" allowfullscreen></iframe>
        </div>
        <div class="innerContent thumbnail">
            <h3>Blindfold</h3>
            <iframe width="400" height="315" src="https://www.youtube.com/embed/hglNXxv1O8I" frameborder="1" allowfullscreen></iframe>
        </div>
    </div>
</div>