<div class="row">
    <div class="col-md-12">
        <p class="bio">
            Western Grit has a wide range of set lists to fit any
            sort of atmosphere! Communication is key in everything so let us know what type of
            vibe you would like for your venue and we will not disappoint. We are available to be
            booked for a variety of occasions including:
        </p>

        <ol id="weddingList">
            <li class="bio">Restaurant Entertainment</li>
            <li class="bio">Weddings</li>
            <li class="bio">Work Events</li>
            <li class="bio">Holiday Parties</li>
            <li class="bio">Private Events</li>
            <li class="bio">Cocktail Parties</li>
        </ol>

        <p class="bio">If any cancellations occur please inform Natalie via email or phone 48 hours in advance.</p>
        <p class="bio">
            Wedding events will require a $100 deposit that will go toward total cost of the performance.
            The entire payment is due two weeks prior to the wedding event. Please give a one month in advance notification
            for any cancellation to receive a full refund. If this does not occur, the client will receive 50% of their deposit.
        </p>
    </div>
</div>